{% extends "base.html" %}
{% load static %}

{% block content %}

<hr>
<div class="container">
    <div class="jumbotron bg-body">
    <hr>
    <div class="jumbotron bg-info"><h1 class="text-center">GAMES LIST</h1></div>
    <hr>
    {% if juego_list %}
    <ul>

      {% for juego in juego_list %}
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 rounded bg-warning mt-5">
          <div class="card"><a href="{{ juego.get_absolute_url }}"><img src="{{ juego.portada.url }}" width="200" height="300" class="card-img-top"></a>
          <div class="card-body">
            <h4 class="card-title"><a href="{{ juego.get_absolute_url }}" style="text-decoration: none; color: black;"><h4 class="text-center">{{juego.titulo}}</h4></a></h4>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}
      
    </ul>
       
    {% else %}
      <p>There are no games in the library.</p>
    {% endif %}   

  </div>
</div>
{% endblock %}
